<div class="container">
  <form [formGroup]="form">
    <mat-card>
      <mat-card-content>
        <mat-card-title translate>tittle</mat-card-title><br />
        <mat-card-subtitle>
          <app-loader [size]="1.5"></app-loader>
          <mat-form-field class="example-full-width" [hidden]="isLoading">
            <mat-label translate>instruction</mat-label>
            <input matInput type="number" placeholder="Ex. 21" min="1" formControlName="numero" />
          </mat-form-field>
          <h2 *ngIf="form.value.resultado != 'notFound'" [ngStyle]="{ color: form.value.color }">
            {{ form.value.resultado }}
          </h2>
          <h2 *ngIf="form.value.resultado == 'notFound'" [ngStyle]="{ color: form.value.color }">
            <span translate>notFound</span>
          </h2>
        </mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          (click)="calculate()"
          [disabled]="this.form.value.numero == null ? true : null"
        >
          <span translate>calculate</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
